#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 


# FIXME Some tests need data files, disabling for now.
override_dh_auto_test:
	@echo "WARNING: Skipping unit tests ..."

override_dh_auto_build:
	make GENERIC=1

#override_dh_auto_install:

# Uncomment this when not building data package
override_dh_install:
	rm -rf debian/pachi-go/usr/share
