Source: pachi-go-data
Section: games
Priority: optional
Maintainer: lemonsqueeze <lemonsqueeze@gmx.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://github.com/pasky/pachi

Package: pachi-go-data
Architecture: all
Depends: ${misc:Depends}
Description: Pachi go engine data files
 Pachi is a reasonably strong engine for the ancient game of go
 (http://senseis.xmp.net/?Go)
 .
 This package contains data files used by Pachi:
 dcnn, large patterns, joseki database and fixes, and opening book.
